// Breakpoints
$screen__xl: 1280px;
$screen__l: 1024px;
$screen__m: 768px;
$screen__s: 414px;
$screen__xs: 320px;

// Fonts
$font-size__base: 1.4rem;
$font-size__heading: 3.2rem;
$font-family__base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// Margin / Padding
$indent__large: 24px;
$indent__medium: 16px;
$indent__small: 8px;

$color-black: #000000;
$color-white: #ffffff;